* {
    margin: 0;padding: 0;
    box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s; width: 50%;
      color: white; /* Set the text color to make it readable */
      padding: 10px; /* Add some padding for better appearance */
      border: none; /* Remove default button border */
      cursor: pointer; /* Add a pointer cursor on hover */
    }
body {
    background-color: #F5EEE6;width: 100%;min-height: 100vh;
}

.content-wrapper {
    display: flex;
}

.section {
    padding: 20px 0;
}

footer {
    background-color: #E6A4B4;color: #fff;
    padding: 20px 0; margin-top: 480px;
    text-align: center;
}

.footer-links a {
    color: #fff;text-decoration: none;
    margin: 0 15px;font-weight: bold;font-size: 14px;
}

.footer-links a:hover {
    color: #727aff;
}

footer p {
    margin-top: 20px;font-size: 14px;font-weight: bold;
}

.footer-info{
    display: flex;justify-content: space-between;
    align-items: center; margin: 0 10px; margin-right: 20px;
    
}

@media (max-width: 768px) {
    .footer-links {
        margin-top: 10px;
    }

    .footer-links a {
        display: block;
        margin: 5px 0;
    }
}

  .open-popup{visibility: visible;}

  .row1_add_item{
    float: left;width: 50%;padding-left:70px;
  }
  .row2_add_item{
    float: left;width: 50%;padding-left:35px;
  }

  #name, #price, #item, #quantity, #artist {
    width: 500px;
    height: 30px;
  }
  #item_desc{
    height: 140px; width: 500px;
    padding: 12px 20px;
  }

  .submit-button-container{
    text-align: center;
        margin-top: 80px;
  }

  .form-container {
    display: flex;
    margin-top: 20px;
}

#submit{
    background-color: #E6A4B4;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}