@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --pink:#DD2F6E;
    --dark-color:#d11c49;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,0.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-track{
    background: transparent;
}
html::-webkit-thumb{
    background: var(--black);
}
section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.sign-in-button {
    margin-left: 10px;
    background-color: #ffffff00;
    color: var(--pink);
    width: auto; /* Adjusted to auto width */
    height: auto; /* Adjusted to auto height */
    border: var(--pink) 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    padding: 0.2em 0.5em; /* Adjusted padding */
}

.sign-in-button:hover {
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;
}

.sign-in-button svg {
    width: 1.6em;
    margin: 0.2em 0.5em 0.2em 0; /* Adjusted margins */
    display: inline-block; /* Changed to inline-block */
    vertical-align: middle; /* Added to vertically align with text */
    transition: all 0.6s ease;
}

.sign-in-button:hover svg {
    transform: translateX(5px);
}

.sign-in-btn-text {
    font-size: medium;
    margin: 0 0.5em; /* Adjusted margin */
    display: inline-block; /* Added to align with SVG */
}

.header .header-1{
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    width: 150px;
    margin-left: 14rem;
}

.header .header-1 .search-form, 
.header .header-1 .search-form1{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input, 
.header .header-1 .search-form1 input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form button, 
.header .header-1 .search-form1 button{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
    background-color: #fff;
}

.header .header-1 .search-form button:hover{
    color: var(--pink);
}

.header .header-1 .icons{
    margin-right: 14rem;
}

.header .header-1 .icons a {
    font-size: 2.1rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.header .header-1 .icons a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--pink);
    transition: width 0.3s ease;
}

.header .header-1 .icons a:hover::before {
    width: 100%;
}

.header .header-1 .icons a.active::before {
    width: 100%;
}

/* Adjustments for alignment */
.icons ul {
    display: flex;
    align-items: center; /* Added to vertically align items */
    list-style-type: none;
  }
  
  .icons li {
    margin: 0 10px;
  }
  
  /* Added to align with the shop and contact us links */
  .icons li:last-child {
    margin-right: 0;
  }

.header .header-1 .icons .search-ul {
    display: none;
}

#home-nav {
    display: none;
}

.menu-btn {
    display: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--black);
}

#search-btn{
    display:none;
}

.header .header-2{
    background: var(--pink);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: white;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background-color: var(--pink);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

.access-popup {
    zoom: 1.8;
    display: none;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    background: var(--pink);
    height: 200px;
    width: 330px;
    border-radius: 8px;
    border: 1px solid var(--pink);
    font-family: 'helvetica neue';
    animation: slideDown 0.5s ease forwards; 
    z-index: 1000;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Ensures the overlay is below the popup but above other content */
}

@keyframes slideDown {
    from {
        top: -100%; /* Start from top of the page */
        opacity: 0; /* Optionally, fade in */
    }
    to {
        top: 70%; /* Slide to the middle */
        opacity: 1; /* Optionally, fade in */
    }
}

.valid2 {
    height: 19px;
    width: 30px;
    background: #fff;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 5px;
}

.access-popup #Layer_2 {
    margin: 7px;
}

.access-popup h1 {
    color: white;
    font-family: helvetica;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    line-height: 10px;
    margin-top: 26px;
}

.access-popup p {
    margin-top: 5px;
    color: white;
    font-family: helvetica;
    font-size: 0.75em;
    text-align: center;
    line-height: 1px;
    text-shadow: 0px 1px 1px #4CB572;
}

.access-popup .bottom-popup {
    width: 100%;
    background: #fff;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: 32px;
    padding: 30px 0;
}

.access-popup a.start {
    height: fit-content;
    margin: -12px 34% 0 0;
    border-radius: 40px;
    background: var(--pink);
    padding: 6px 20px;
    font-family: 'helvetica';
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    float: right;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.access-popup a.start:hover {
    border-radius: 5px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.access-popup #Layer_1 {
    float: right;
    margin: 10px;
}

.container{
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background: #eee;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box:hover{
    box-shadow: none;
    transform: translateY(5px);
    background-color: var(--pink);
    transition: all 0.4s ease;
    cursor: pointer;
}

.container .box-container .box:hover .iconbox{
    background-color: #fff;
    color: var(--pink);
}
.container .box-container .box:hover h3{
    color:white;
}

.container .box-container .box:hover a,
.container .box-container .box:hover p{
    color:white
}
.container .box-container .box .iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    color:#fffef5;
    font-size: 32px;
    border-radius: 100px;
}

.container .box-container .box h3{
    color:var(--black);
    font-size: 22px;
    padding: 10px 0;

}

.container .box-container .box a,
.container .box-container .box p{
    color:var(--black);
    font-size: 15px;
    line-height: 1.8;
    overflow-wrap: break-word;
    text-transform: none;
    text-decoration: none;
}

#click{
    display: none;
}

#cart-num{
    display: flex;
    width: 23px;
    height: 23px;
    font-size: 14px;
    background-color: var(--pink);
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}



@media (max-width: 940px) {
    #cart-num{
        background-color: #fff;
        color: var(--black);
        top: 50%;
        right: 0px;
    }

    .header .header-1 .menu-btn {
        display: block;
        position: absolute;
        top: 30px; 
        right: 50px; 
    }

    #click:checked ~ .header .header-1 .menu-btn i:before {
        content: "\f00d";
    }

    .header .header-1 .icons ul{
        position: fixed;
        padding-top: 30px;
        top: 100px;
        left: -100%;
        background-color: var(--pink);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1000;
    }

    #click:checked ~ .header .header-1 .icons ul {
        left: 0%;
    }

    .header .header-1 .icons ul li {
        margin: 40px 0;
    }

    .header .header-1 .icons ul li a {
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }

    .header .header-1 .icons ul li a.active {
        background-color: #fff;
        color: var(--black);
    }

    .header .header-1 .icons a:hover {
        background-color: #fff;
        color: var(--black);
    }

    .header .header-1 .icons .home-class{
        display: flex;
        justify-content: center;
    }

    .header .header-1 .icons #home-nav{
        display: block;
        border-radius: 5px;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }
}

@media (max-width:1024px){
    html{
        font-size: 60%;
    }
    .header .header-1{
        padding: 2rem;
    }
}

@media (min-width:1025px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
}
@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }

    .header .header-1 .icons .search-ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 30px;

    }

    .header .header-1 .logo{
        margin-left: auto;
    }

    .header .header-2{
        display: none;
    }
    .container{
        padding: 20px;
    }
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display:inline-block;
    }
    .header .header-1{
        box-shadow:var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        width: 95%;
        margin-right: 20px;
        box-shadow: var(--box-shadow);
        display: none;
        z-index: 999;
    }
}
@media (max-width:450px){
    html{
        font-size: 43%;
    }

    .header .header-1 .icons ul {
        top: 90px;
    }

    #cart-num{
        background-color: #fff;
        width: 18px;
        height: 18px;
        font-size: 10px;
        color: var(--black);
        top: 50%;
        right: 5px;
    }
}
@media (max-width:375px){
    html{
        font-size: 30%;
    }
}