* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5EEE6;
}

header {
    text-align: center;
    padding: 10px;
}

hr {
    border-top: 2px solid #000;
}

.homepage-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    text-decoration: none;
    margin: 20px;
    background: #E6A4B4;
    padding: 20px;
    width: calc(33.33% - 40px);
    min-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21252f;
    box-shadow: 10px 10px 12px #F3D7CA;
    cursor: pointer;
    transition: all 0.35s ease;
}

.card:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.card-icon {
    font-size: 28px;
    margin-top: 20px;
    background: #fffef5;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon {
    background: none;
    color: #363737;
    transform: scale(1.6);
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p {
    max-height: 40px;
    opacity: 1;
    font-weight: 500;
    color: #363737;
}

button {
    font-weight: bold;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 60px;
    background-color: #EB1D36;
    color: #fff;
    border: 2px solid;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button:hover {
    background-color: #b71528;
    color: #fff;
    border: 2px solid #b71528;
}

#logEmp{
    margin-top: 140px;
}