body {
    background-color: #F5EEE6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#div1 {
    background-color: #E6A4B4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #F3D7CA;
}

#div2 {
    padding: 20px;
    padding-top: 120px;
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 10px;
}

#div2 p, #div1 .not-account{
    font-style: italic;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.custom-button {
    background-color: #C6DFF7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #506C8C;
    color: white;
}

@media (min-width: 683px) and (max-width: 960px) {
    .container {
        flex-direction: column;
    }
    
    #div1, #div2 {
        padding: 2rem;
        margin: 1rem;
    }

    #div1 {
        padding-top: 20px;
    }

    #div1 h2{
        text-align: center;
        font-size: 2rem;
    }

    label{
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"]{
        font-size: 0.8rem;
    }

    .custom-button {
        font-size: 0.8rem;
    }

    #div1 p .not-account {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    #div1, #div2 {
        padding: 2rem;
        margin: 0 1rem;
    }

    #div1 {
        padding-top: 20px;
    }

    #div1 h2{
        text-align: center;
        font-size: 2rem;
    }

    label{
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"]{
        font-size: 0.8rem;
    }

    .custom-button {
        font-size: 0.8rem;
    }

    #div2, #div1 p, #div1 a{
        font-size: 0.8rem;
    }
}