* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.button{
    
    transition-duration: 0.4s; width: 50%;
      color: white; /* Set the text color to make it readable */
      padding: 10px; /* Add some padding for better appearance */
      border: none; /* Remove default button border */
      cursor: pointer; /* Add a pointer cursor on hover */
    }
body {
    background-color: #F5EEE6;
    width: 100%;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
}

.section {
    padding: 20px 0;
}

footer {
    background-color: #E6A4B4;
    color: #fff;
    padding: 20px 0; margin-top: 480px;
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.footer-links a:hover {
    color: #727aff;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    margin-right: 20px;
    
}

@media (max-width: 768px) {
    .footer-links {
        margin-top: 10px;
    }

    .footer-links a {
        display: block;
        margin: 5px 0;
    }
}

table {
    margin: auto;width: 65%;
  }

  th, td {
    padding: 10px;
    border: 3px solid #000;
    text-align: left;
  }

  th {
    background-color: #E6A4B4;
    text-align: center;
  }

  .del1{
    width: 420px; height: 200px;
    background: #fff;
    border-radius: 6px; position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    padding: 0 30px 30px;
    color: #333; visibility: hidden;
  }
  .open-popup{visibility: visible;}