@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --pink:#DD2F6E;
    --dark-color:#d11c49;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,0.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    --font: 18px;
}
*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-track{
    background: transparent;
}
html::-webkit-thumb{
    background: var(--black);
}
section{
    padding: 100px 11% 90px;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}
.header .header-1{
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    width: 150px;
}
.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color:var(--black);
}
.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color: var(--pink);
}
.header .header-1 .icons div, 
.header .header-1 .icons a{
    font-size: 1.8rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}
.header .header-1 .icons div:hover, 
.header .header-1 .icons a:hover{
    color: var(--pink);
}

#search-btn{
    display:none;
}

.header .header-2{
    background: var(--pink);
}

.header .header-2 .navbar {
    display: flex;
    justify-content: center; /* Horizontally center the links */
}

.header .header-2 .navbar a {
    color: white;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}
.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background-color: var(--pink);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.box{
    position: relative;
}

.box-img img{
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    transition: all .45s ease;
}

.box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.1;
}

.box h4{
    font-size: var(--font);
    color: var(--other-color);
    font-weight: 500;
    margin-bottom: 2rem;
}



@media (max-width:1024px){
    html{
        font-size: 60%;
    }
    .header .header-1{
        padding: 2rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
}
@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display:inline-block;
    }
    .header .header-1{
        box-shadow:var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        width: 95%;
        margin-right: 20px;
        box-shadow: var(--box-shadow);
        display: none;
        z-index: 999;
    }
    .header .header-1 .search-form.active{
        top:115%;
        display: block;
    }
}
@media (max-width:450px){
    html{
        font-size: 43%;
    }
}
@media (max-width:375px){
    html{
        font-size: 30%;
    }
}

.no-products {
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
}