body {
    background-color: #F5EEE6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    text-align: center;
}

img {
    max-width: 80%;
    height: auto;
    text-align: center;
}

form {
    background-color: #E6A4B4;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #F3D7CA;
    width: 100%;
    margin: 0 auto;
}

label {
    font-weight: 600;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a .btn-custom,
#register {
    background-color: #C6DFF7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#register {
    margin-bottom: 20px;
}

a .btn-custom:hover,
#register:hover {
    background-color: #506C8C;
    color: white;
}

@media (min-width: 683px) and (max-width: 960px) {
    form {
        padding: 20px;
    }

    a .btn-custom,
    #register {
        margin-top: 10px;
    }

    .form-group,
    .button-container {
        width: 100%;
    }

    label {
        font-size: 0.8rem;
    }

    .right-column p {
        text-align: center;
        font-size: 0.8rem;
    }

    .left-column {
        display: none;
    }

    .right-column h1 {
        text-align: center;
        font-size: 2rem;
    }

    a .btn-custom, #register {
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    form {
        padding: 20px;
    }

    a .btn-custom,
    #register {
        margin-top: 10px;
    }

    .left-column {
        display: none;
    }

    .form-group,
    .button-container {
        width: 100%;
    }

    label {
        font-size: 0.8rem;
    }

    .right-column p {
        text-align: center;
        font-size: 0.8rem;
    }

    .right-column h1 {
        text-align: center;
        font-size: 2rem;
    }

    a .btn-custom, #register {
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 0.8rem;
    }
}
