
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #F5EEE6;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.section {
    padding: 20px 0;
    
}


.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    z-index: 1;
}

.header h1 {
    font-size: 50px;
}

.container .card {
    width: 270px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 65px;
    margin-right: 15px;
    text-align: center;
    border: 2px;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.container .card .product-image {
    width: 230px;
    margin: 20px auto;
}

.container .card .product-image img {
    width: 100%;
    transition: 0.4s;
}

.container .card .product-image img:hover {
    transform: scale(1.1);
}

.container .card .product-info h4 {
    font-size: 18px;
    padding: 0 25px;
    margin-bottom: 10px;
}

.container .card .button {
    width: 100%;
}

.container .card .button button {
    width: 100%;
    padding: 10px;
    background: #e9d7f2;
    border: 1px solid gray;
    outline: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
}