* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .side-logo {
    position: relative;
    width: 50%;
    height: 100%;
}

section .side-logo img {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    padding-top: 200px;
    padding-right: 50px;
    object-fit: cover;
}

section .side-form {
    display: flex;
    justify-content: left;
    padding-top: 50px;
    padding-left: 50px;
    width: 50%;
    height: 100%;
}

section .side-form .login-form {
    width: 50%;
    text-align: left;
}

section .side-form .login-form h1 {
    color: black;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
    border-bottom: 4px;
    display: inline-block;
    letter-spacing: 1px;
}

section .side-form .login-form p {
    width: 100%;
    outline: none;
    margin: 1em 0;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: black;
    background: transparent;
}

form input[type="text"],
form input[type="password"] {
    display: block;
    width: 130%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label {
    width: 100%;
    outline: none;
    margin: 1em 0;
    font-weight: 400;
    font-size: 16px;
    color: black;
    background: transparent;
}

.button-container {
    margin-top: 100px;
}


.button {
    padding: 8px 25px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
    background-color: #e9d7f2;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #d9c5e3;
}