* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #F5EEE6;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 80%;
    height: auto;
}

.button-container {
    margin-top: 50px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #C6DFF7;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #506C8C;
    color: white;
}

@media (max-width: 768px) {
    .button-container {
        margin-top: 30px;
    }

    .button {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin: 10px 0;
        width: 100%;
        font-size: 0.8rem;
    }
}