@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 30px;
}

#div1 {
    background-color: #fff;
    color: var(--color-dark);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #E6A4B4;
}

#div2 {
    padding: 40px;
    text-align: center;
}

#div2 p {
    font-style: italic;
    font-size: 1rem;
}

#div1 p {
    margin-bottom: 10px;
    font-size: 1rem;
}

#div1 a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#div1 a:hover {
    color: #2980b9;
}

img {
    max-width: 80%;
    height: auto;
}

form {
    width: 100%;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    font-weight: 600;
    display: block;
    font-size: 1rem;
    color: var(--color-dark);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.custom-button {
    background-color: #3498db;  
    color: #ffffff;
    padding: 12px 24px;
    border: 2px solid #2980b9;  
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: #2980b9;
    color: #ffffff;
}

.forgot-pass {
    font-style: italic;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group label.checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    color: var(--color-dark);
}

.form-group label.checkbox-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-group input[type="checkbox"]:checked + label.checkbox-label:before {
    background-color: #007bff; 
    border-color: #007bff;
}

.form-group label.checkbox-label:after {
    content: '\2713';
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.5s ease;
}

.form-group input[type="checkbox"]:checked + label.checkbox-label:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    color: #fff;
}

.form-group label.checkbox-label:hover:before {
    background-color: #f2f2f2;
}

@media (max-width: 767px) {
    .form-group label.checkbox-label {
        font-size: 0.8rem;
    }

    .form-group label.checkbox-label:before {
        font-size: 12px;
        top: 45%;
    }

    .form-group label.checkbox-label:after {
        font-size: 12px;
        left: 8%;
        top: 48%;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    #div1{
        max-height: 512px;
        padding: 20px;
    }

    #div1 p, #div2 p {
        font-size: 0.8rem;
        text-align: center;
    }

    #div1 h1 {
        font-size: 2rem;
        text-align: center;
    }

    label {
        font-size: 0.8rem;
    }

    .custom-button {
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 5px;
        font-size: 0.8rem;
    }

    .forgot-pass {
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) and (max-width: 960px) {
    .container {
        flex-direction: column;
    }
    
    #div1{
        max-height: 512px;
        padding: 20px;
    }

    #div2{
        max-height: 256px;
    }

    
    #div1 p {
        font-size: 0.8rem;
        text-align: center;
    }

    #div1 h1 {
        font-size: 2rem;
        text-align: center;
    }

    label {
        font-size: 0.8rem;
    }

    .custom-button {
        font-size: 0.8rem;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 5px;
        font-size: 0.8rem;
    }

    .forgot-pass {
        font-size: 0.8rem;
    }
}