@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --pink:#DD2F6E;
    --dark-color:#d11c49;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,0.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}
*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-track{
    background: transparent;
}
html::-webkit-thumb{
    background: var(--black);
}
section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.heading:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}
.header .header-1{
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    width: 150px;
}
.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color:var(--black);
}
.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color: var(--pink);
}
.header .header-1 .icons div, 
.header .header-1 .icons a{
    font-size: 1.8rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}
.header .header-1 .icons div:hover, 
.header .header-1 .icons a:hover{
    color: var(--pink);
}

#search-btn{
    display:none;
}

.header .header-2{
    background: var(--pink);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: white;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}
.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background-color: var(--pink);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

.start {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../res/yeokart\ homepage.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.start::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.start h1 {
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 7rem;
    margin-bottom: 20px;
}

.start p {
    font-size: 1.5rem; 
    margin-bottom: 30px;
}

.start .btn {
    padding: 18px 22px; 
    border-width: 2px;
    border-radius: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem; 
    text-decoration: none;
}

.btn1 {
    background-color: var(--pink);
    color: white;
}

.btn1:hover {
    background-color: var(--dark-color);
}

.btn-outline-light {
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-width: 2px;
    box-shadow: 0 0 0 2px white inset;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: var(--dark-color);
    box-shadow: 0 0 0 2px #fff inset;
}

.featured .featured-slider .box,
.best .best-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}
.featured .featured-slider .box:hover,
.best .best-slider .box:hover{
    border: var(--border-hover);
}
.featured .featured-slider .box .image,
.best .best-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.featured .featured-slider .box:hover .image,
.best .best-slider .box:hover .image{
    transform:translateY(6rem) ;
}
.featured .featured-slider .box .image img,
.best .best-slider .box .image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.featured .featured-slider .box .icons,
.best .best-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}
.featured .featured-slider .box:hover .icons,
.best .best-slider .box:hover .icons{
    transform: translateY(0%);
}
.featured .featured-slider .box .icons a,
.best .best-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
    text-decoration: none;
}
.featured .featured-slider .box .icons a:hover,
.best .best-slider .box .icons a:hover{
    background: var(--pink);
    color: #fff;
}
.featured .featured-slider .box .content,
.best .best-slider .box .content{
    background: #eee;
    padding: 1.5rem;
    overflow: hidden;
}
.featured .featured-slider .box .content h3,
.best .best-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
    white-space: nowrap;
}
.featured .featured-slider .box .content .price,
.best .best-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
    max-width: 100%;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.marquee {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    width: 100%;
}

.featured .btn,
.best .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--pink);
    font-size: 1.7rem;
    cursor: pointer;
    text-align: center;
    margin: 1.5rem 0;
    text-decoration: none;
}

.featured .btn:hover
.best .btn:hover{
    background: var(--dark-color);
}
.swiper-button-next,
.swiper-button-prev{
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color: #fff;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-details-left {
    flex: 1;
    margin-right: 20px; /* Adjust the spacing between columns */
}

.product-details-left .main-image {
    max-width: 100%;
    height: auto;
}

.product-details-right {
    flex: 2; /* Adjust the width ratio of left and right columns */
}

.product-details-right .category-name p{
    font-size: 16px;
   line-height: 1.6;
}

.product-details-right .item-name h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details-right .item-price h4{
    font-size: 20px;
    margin-bottom: 12px;
}

.select-quantity {
    display: flex;
    align-items: center;
}

.select-quantity  span {
    margin-right: 10px;
    font-size: 16px;
}

.select-quantity input[type="number"] {
    flex: 1; /* This makes the input expand to fill available space */
    max-width: 100px; /* Adjust this value as needed to limit the width */
    margin: 0 5px;
    border: var(--border);
    border-width: 2px;
    padding: 5px;
    font-size: 15px;
}

.select-quantity  button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
}

.select-quantity  button:first-child {
    border-radius: 5px 0 0 5px;
}

.select-quantity  button:last-child {
    border-radius: 0 5px 5px 0;
}

/*.select-version{
    flex: 1;
    max-width: 130px;
    margin: 0 5px;
    border: var(--border);
    border-width: 2px;
    padding: 5px;
    font-size: 15px;
}*/

.product-details-right .item-stock{
    font-size: 15px;
    margin-top: 10px;
}

.add-to-cart {
    margin-top: 1rem;
    display: inline-block;
    border-radius: .5rem;
    color: #fff; /* Text color is white */
    background: var(--pink); /* Assuming you have a CSS variable defined for pink color */
    font-size: 1.7rem;
    text-align: center;
    margin: 1.5rem 0; /* This line will override the margin-top and add margin to the top and bottom */
    text-decoration: none; /* Buttons do not usually have text-decoration */
    border: none; /* To remove the default button border */
}

.add-to-cart button {
    padding: .9rem 3rem;
    background: transparent; /* Set button background to transparent */
    border: none; /* To remove the default button border */
    color: inherit; /* Inherit text color from parent (.add-to-cart) */
    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--dark-color);
}

.product-details-right .product-description h4{
    font-size: 16px;
    margin-bottom: 10px;
}

.product-details-right .product-description p{
    font-size: 14px;
}

.user-profile .header-3 {
    display: flex;
    justify-content: space-between;
}
  
.user-profile h2 {
    font-size: 3rem;
    font-weight: 500;
}

.nav-user{
    display: flex;
    align-items: center;
}
  
.logout-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    margin-left: 30px;
    transition: transform 0.3s ease;
}
    
.logout-link i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.logout-link:hover{
    color: var(--pink);
}
    
.logout-link:hover i {
    transform: translateX(5px);
    color: var(--pink);
}

.address{
    margin-top: 50px;
}

.address-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    transition: transform 0.3s ease;
}
    
.address-link i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.address-link:hover{
    color: var(--pink);
}
    
.address-link:hover i {
    transform: translateX(5px);
    color: var(--pink);
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
}

.left-column,
.right-column {
    color: var(--black);
    border-radius: 10px;
    min-width: 200px;
}

.left-column p,
.right-column p {
    font-size: 1.5rem;
}

.left-column {
    background: #fff;
    flex: 4; 
    padding: 20px 0px;
}

.right-column {
    background: #fff;
    flex: 2; 
    padding: 20px 0px;
}

#info
{
    font-size: 1.6rem;
}

.right-column .account-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.right-column .account-info p {
    color: black;
    font-weight: 500;
    text-transform: none;
}

.right-column .account-info i{
    color: var(--pink);
    margin-right: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--light-color);
    margin: 20px 0;
}

hr.gradient {
    height: 5px;
    background: linear-gradient(45deg, #ff0080, #ff77ff);
    border-radius: 5px;
    width: 30px;
}

.close-btn {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-container .popup-content h3 {
    font-size: 2rem;
    font-weight: 600;
}

.close-btn{
    font-size: 2rem;
}

.popup-container .popup-content .form-group{
    font-size: 1.3rem;
    margin-top: 20px;
}

.update-btn {
    text-align: center;
    background-color: var(--pink);
    color: white;
    padding: 10px 24px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.3s;
}

.update-btn:hover {
    background-color: var(--dark-color); 
    transform: scale(1.05);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
}

.popup-content p{
    font-size: 1.5rem;
    text-transform: none;
}

.popup-content .logout-btns{
    margin-top: 20px;
}

.confirm-logout-btn, .cancel-logout-btn {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-confirm, .btn-cancel {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-confirm, .confirm-logout-btn {
    text-align: center;
    background-color: var(--pink);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-confirm:hover, .confirm-logout-btn:hover{
    background-color: var(--dark-color); 
}

.btn-cancel, .cancel-logout-btn {
    text-align: center;
    background-color: #ccc;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.3s;
}

.address-info{
    font-size: 1.3rem;
    margin-top: 30px;
}

.btn-address {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--pink); 
    color: #fff; 
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out;
    font-size: 1.5rem;
}

.btn-address i {
    margin-right: 5px;
}

.btn-address:hover {
    background-color: var(--dark-color) 
}

.popup-del, .popup-add {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-add-content {
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-del-content {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-del-content h2, .popup-add-content h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

.popup-del-content p, .popup-add-content p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-transform: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.addr-btn {
    text-align: center;
    background-color: var(--pink);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.addr-btn:hover{
    background-color: var(--dark-color); 
    transform: scale(1.05);
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.address-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons-container {
    margin-top: 20px;
}

.edit-btn{
    padding: 8px 25px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 1px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.delete-btn{
    padding: 8px 5px;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.edit-btn {
    background-color: #fff;
    border: 1px solid var(--black);
    color: var(--black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

    display: inline-block;
    vertical-align: middle;
}

.edit-btn:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-btn {
    color: var(--black);
    background-color: #fff;
    overflow: hidden;
}

.delete-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.delete-btn:hover::before {
    transform: scaleX(1);
}

.address-item{
    font-size: 1.5rem;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    font-size: 1.3rem;
    user-select: none;
    text-transform: none;
  }
  
  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    font-size: 1.3rem;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .custom-checkbox input:checked ~ .checkmark {
    background-color: var(--pink);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  #info1{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-transform: none;
  }


@media (max-width:1024px){
    html{
        font-size: 60%;
    }
    .header .header-1{
        padding: 2rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
}
@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display:inline-block;
    }
    .header .header-1{
        box-shadow:var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        width: 95%;
        margin-right: 20px;
        box-shadow: var(--box-shadow);
        display: none;
        z-index: 999;
    }
    .header .header-1 .search-form.active{
        top:115%;
        display: block;
    }
}
@media (max-width:450px){
    html{
        font-size: 43%;
    }
}
@media (max-width:375px){
    html{
        font-size: 30%;
    }
}