* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5EEE6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#div1 {
    background-color: #E6A4B4;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #F3D7CA;
}

#div2 {
    padding: 20px;
    text-align: center;
}

#div2 p {
    margin-top: 20px;
    font-style: italic;
}

#div1 p {
    margin-bottom: 30px;
}

img {
    max-width: 80%;
    height: auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    font-weight: 600;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.custom-button {
    background-color: #C6DFF7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: rgb(114, 122, 255);
    color: white;
}

#back {
    margin-right: 10px;
}

.forgot-pass{
    font-style: italic;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center; 
}

